<div class="container">
  <div class="well" style="padding-left:50px; padding-right:150px">
    <div class="addgroupform">
      <form ng-submit="submit()" name="addgroup" ng-controller="AddgroupCtrl">
        <fieldset>
          <label for="groupname">Group name:</label>
          <input focus required type="text" placeholder="Group name" name="groupnamec" ng-model="groupnamec" />
        </fieldset>
        <div class="row-fluid" style="width: 220px">
          <button type="submit" class="btn btn-primary">Create</button>
          <button type="button" ui-sref="mypage.groupsav" class="btn btn-primary pull-right">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
