<div class="test" ng-controller="AddtopicCtrl as child" ng-init="child.setParent(parent)">
  <ul class="groupcontent">
    <li ng-repeat="topic in topics | reverse">
      <div class="topicstyle">
        <div class="topictext">
          {{topic.text}}
        </div>
        <span class="pull-right">by {{topic.username}} </span>
      </div>
      <div class="test2" ng-controller="AddcommentCtrl as childtwo" ng-init="childtwo.setParent(child)">
        <h4> Comments: </h4>
        <ul class="comments-list">
          <li ng-repeat="comment in topic.comments"> <span class="usercomment">{{comment.usernameT}}:</span>
            <div class="comments"> {{comment.ctext}}</div>
          </li>
        </ul>
        <br>
        <form ng-submit="submit()" name="addcomment">
          <textarea style="width: 300px; height: 75px;" placeholder="What do you have to say?" ng-model="commenttext"> </textarea>
          <button class="btn btn-default pull-right" type="submit"><i class="icon-ok"></i></button>
        </form>
      </div>
    </li>
  </ul>
</div>
