<div ng-controller="GroupsavCtrl" style="margin: 0 auto; width: 400px">
  <h2>Available groups</h2>
  <ul ng-repeat="group in groupsav | reverse">
    <li>
      <button ng-click="sendRequest(group, usernamel)" class=" btn btn-default">+</button>
      {{group.name}}
    </li>
  </ul>
</div>

<div class="requests" ng-controller="GroupsavCtrl">
  <h3>Pending requests</h3>
  <ul ng-repeat="request in requests">
    <li>
      {{request.username}} {{request.groupname}}
      <br>
      <button ng-click="answerRequestYes(request)" class=" btn btn-default"><i class="icon-ok"></i></button>
      <button ng-click="answerRequestNo(request)" class=" btn btn-default"><i class="icon-remove"></i></button>
    </li>
  </ul>
</div>
